.app-page {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 100vh;
  
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  background: $primary-color;  
}

main {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;  
  width: 100%;
  padding: 50px;
  overflow-y: auto;
}

footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;    
  width: 100vw;
  margin-top: auto;
  color: $white-color;
  background: $primary-color;
}