.app {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background: $white-color;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  min-height: $header-height;
  background: $primary-color;  
}

main {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;  
  width: 100%;
  max-height: calc(100vh - (2 * #{$header-height}));
  padding: 50px;
  overflow-y: auto;
}

footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;    
  width: 100vw;
  min-height: $header-height;
  margin-top: auto;
  color: $white-color;
  background: $primary-color;
  p {
    margin: 0;
  }
}